.homepage {
  height: 100%;
  width: 100%;
  background-color: white;
}

.bottom-nav {
  height: 87%;
  width: 100%;
  display: flex;
}

.start-btn {
  text-decoration: none;
  height: 10%;
  width: 45%;
  font-size: 1em;
  padding: 2%;
  margin-left: 43%;
  margin-top: 5%;
  background-color: #F5F2D0;
  border: 2px solid #231F20;
  border-radius: 5px;
  color: #231F20;
  font-family: 'Rock Salt', cursive;
}

.start-btn:hover {
  background-color: #F5F2D0;
  color: #231F20;
  border:2px solid #231F20;
  box-shadow: 2.5px 2.5px 2.5px 2px #878E88;
}

.info-container-1 {
  width: 58%;
  background-color: #F5F2D0;
  height: 91%;
  margin-top: 5%;
  border-top:  2px solid #231F20;
  border-right: 2px solid #231F20;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.info-1 {
  background-color: #231F20;
  width: 85%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  border:2px solid white;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 2.5px 3px #878E88;
}

.text {
  margin: 0px;
  margin-bottom: 3%;
  font-size: 16px;
}

.special {
  margin-bottom: 10%;
}

.info-2 {
  background-color: #231F20;
  width: 85%;
  padding: 2%;
  height: 48%;
  border:2px solid white;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 2.5px 3px #878E88;
}

.info-container-2 {
  background-color: #F5F2D0;
  width: 37%;
  height: 91%;
  margin-top: 5%;
  border-left: 2px solid #231F20;
  border-top: 2px solid #231F20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-container {
  background-color: #231F20;
  margin-top: 2.8%;
  padding: 2%;
  height: 84%;
  width: 80%;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-header {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  margin-top: 0px;
  margin-bottom: 10%;
  color: white;
}

.profile-card {
  height: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  background-color: #F5F2D0;
  border: 2px solid #231F20;
  border-radius: 5px;
  margin-bottom: 10%;
  box-shadow: 2.5px 2.5px 2.5px 2px #878E88;
}

.stat {
  color: #231F20;
  margin: 1.5%;
}
